{% extends 'OroUIBundle:Default:index.html.twig' %}
{% oro_title_set({titleTemplate : "%code% - %status%" , params: {'%code%': status_code, '%status%' :status_text }, force : true}) %}
{% block head %}
    <meta name="error" content="{{ status_code }}" />
    {{ parent() }}
{% endblock %}
{% block bodyClass %}error-page{% endblock %}

{% block header %}

    {% block breadcrumb %}
    {% endblock %}

    {% if app.user is not null %}
        {{ parent() }}
        {% if status_code == 503 %}
            {% block navbar %}{% endblock %}
        {% endif %}
    {% else %}
        <header class="navbar" id="oroplatform-header">
            <div class="navbar-inner">
                <div class="container">
                    {% placeholder header_logo %}
                </div>
            </div>
        </header>
    {% endif %}
{% endblock %}

{% block before_content %}
{% endblock %}

{% block scripts_before %}
    {% if app.user is not null %}
        {{ parent() }}
    {% endif %}
{% endblock %}



{% block content %}
    <div class="error-frame">
        <div class="error-holder">
            <div class="pagination-centered popup-box-errors" style="width: 100%; border: none">
                <div class="error-content">
                    <p>
                        {% if status_code == 404 %}
                            <img src="{{ asset('media/errors/404.png') }}" alt="404 Error" style="min-width: 60px; max-width: 15%">
                            <h1 style="color: #FFA500; font-size: 25px;">{{ 'Ooops 404!'|trans }}</h1>
                            <div class="muted" style="font-size: 16px">
                                Sorry about that. But the page you are <br/>looking for just disappear... bad magic ?
                            </div>
                        {% else %}
                            <img src="{{ asset('media/errors/others.png') }}" alt="Error image" style="min-width: 300px; max-width: 25%">
                            <h1 style="color: #FFA500; font-size: 25px;">{{ 'Something wrong here...'|trans }}</h1>
                            <div class="muted" style="font-size: 16px">
                                Sorry we're having some technical issues (as you can see)<br/> try to refresh the page. Sometimes works :)
                            </div>
                        {% endif %}
                    </p>
                    {% if status_code == 404 or status_code == 403 %}
                        <p><a href="#" onclick="window.history.back(); return false;">{{ 'Click to go back'|trans }}</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block head_script %}
    {{ parent() }}
    <script type="text/javascript">require(['oroui/js/init-errors'])</script>
{% endblock %}
