{% extends 'OroUserBundle::layout.html.twig' %}

{% block head %}
    <title>{{ oro_title_render() }}</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">

    {% if oro_theme_icon() %}
        <link rel="shortcut icon" href="{{ asset(oro_theme_icon()) }}" />
    {% endif %}

    {% stylesheets
        '@MediklyOroFlatThemeBundle/Resources/public/themes/flat/css/kodo/font-awesome.min.css'
        '@MediklyOroFlatThemeBundle/Resources/public/themes/flat/css/kodo/bootstrap.css' filter='cssmin'
        '@MediklyOroFlatThemeBundle/Resources/public/themes/flat/css/kodo/responsive.css' filter='cssmin'
        '@MediklyOroFlatThemeBundle/Resources/public/themes/flat/css/kodo/shortcuts.css' filter='cssmin'
        '@MediklyOroFlatThemeBundle/Resources/public/themes/flat/css/kodo/awesome-bootstrap-checkbox.css' filter='cssmin'
        '@MediklyOroFlatThemeBundle/Resources/public/themes/flat/css/kodo/style.less' filter='lessphp,cssmin' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <style type="text/css">
        body{background: #F5F5F5;}
    </style>

    {% include 'OroRequireJSBundle::scripts.html.twig' with {compressed: not app.debug} %}
    <script type="text/javascript">
        require(['jquery', 'oroui/js/init-layout', 'orouser/js/init-signin'],
                function($) {
                    $(function() {
                        // emulates 'document ready state' for selenium tests
                        document['page-rendered'] = true;
                    });
                });
    </script>
{% endblock %}

{% block bodyClass %}login-page{% endblock %}

{% block content %}

    {%- set usernameLabel = 'Username'|trans %}
    {%- set passwordLabel = 'Password'|trans %}

    <div class="container">

        <div class="login-form">
            <form id="login-form" action="{{ path('oro_user_security_check') }}" method="post">
                <div class="top">
                    {% image '@MediklyOroFlatThemeBundle/Resources/public/themes/flat/images/log-in-logo.png' %}
                    <img src="{{ asset_url }}" alt="{{ 'MEDIKLY description'|trans }}" />
                    {% endimage %}
                    <h1>{{ 'MEDIKLY'|trans }}</h1>
                    <!--h4>{#{ 'MEDIKLY description'|trans }#}</h4-->
                </div>
                <div class="form-area">
                    <script type="text/javascript">
                        require(['jquery'], function ($) {
                            var $form = $('#login-form');
                            $form.on('submit', function () {
                                $form.find('button').attr('disabled', 'disabled');
                            });
                        });
                    </script>
                    {% if error %}
                        <div class="alert alert-error">
                            <div>{{ error|trans }}</div>
                        </div>
                    {% endif %}
                    <div class="group">
                        <input type="text" id="prependedInput" class="form-control" name="_username"
                               value="{{ last_username }}" required="required"
                               placeholder="{{ 'Username or Email'|trans }}" autofocus/>
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="group">
                        <input type="password" id="prependedInput2" class="form-control" name="_password"
                               required="required" placeholder="{{ 'Password'|trans }}" autocomplete="off">
                        <i class="fa fa-key"></i>
                    </div>
                    <div class="checkbox checkbox-primary">
                        <input id="remember_me" type="checkbox" name="_remember_me" value="on">
                        <label for="remember_me"> {{ 'Remember me on this computer'|trans }}</label>
                    </div>
                    <button type="submit" class="btn btn-default btn-block" id="_submit"
                            name="_submit">{{ 'Log in'|trans }}</button>

                </div>

                <input type="hidden" name="_target_path" value=""/>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            </form>
            <div class="footer-links row">
                <div class="col-xs-6">{{ render(controller('MediklyClefBundle:Default:Widget')) }}</div>
                <div class="col-xs-6 text-right"><a href="{{ path('oro_user_reset_request') }}"><i class="fa fa-lock"></i> {{ 'Forgot your password?'|trans }}</a></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['setUserId', []]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//tracker.medikly.com/";
            _paq.push(['setTrackerUrl', u + 'js/tracker.php']);
            _paq.push(['setSiteId', 50]);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'js/tracker.php';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
{% endblock %}
